<div class="header__bg"></div>
<div style="width:800px; margin: 15px auto;">

    <app-recherche [recherche]="textRecherche"></app-recherche>
    <h3 *ngIf="textRecherche == ''" style="margin: 20px 0px;">Annonces : Toutes les annonces - {{countAnnonces}} résultats</h3>
    <h3 *ngIf="textRecherche != ''" style="margin: 20px 0px;">Annonces : Recherche de "{{textRecherche}}" - {{countAnnonces}} résultats</h3>
    <ng-container *ngIf="annonces.length == 0 && searching">
        <div class="text-center mt-5">
            <div class="spinner-border" role="status" style="width: 6rem;
            height: 6rem;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="annonces.length == 0 && !searching">
        <h4 class="text-center mt-5">Aucun résultats ...</h4>
    </ng-container>

    <ng-container *ngIf="annonces.length > 0">
        <div class="mx-auto">
            <ngb-pagination style="display: flex; justify-content: center;" [maxSize]="10" [rotate]="true" [collectionSize]="countAnnonces" [(page)]="page" aria-label="Default pagination"
                (pageChange)="pageChanged()"></ngb-pagination>
        </div>
        <a *ngFor="let annonce of annonces" class="card card_annonce" target="_blank" href="/annonces/{{annonce.id}}">

            <div class="card-body body_custom">
                <div class="row" style="height: 100%;">
                    <div class="col-sm-3" style="margin: auto; height:100%;">
                        <div style=" height:100%; overflow: hidden; display: flex; background: #e7e7e7">
                            <img src="https://pro.largus.fr/images/images/renault-clio-top-20-classement-voiture-occasion_2.jpg"
                                class="img-fluid my-auto" alt="..."
                                onerror="this.src='../../assets/no-image-available.png';">
                        </div>
                        <!-- <img src="https://pro.largus.fr/images/images/renault-clio-top-20-classement-voiture-occasion_2.jpg"
                        class="align-self-center custom_img" alt="..." onerror="this.src='../../assets/no-image-available.png';"> -->

                    </div>
                    <div class="col-sm-9 p-3    ">
                        <div class="text_custom float-right">{{annonce.price}} €</div>
                        <h5 class="card-title title_custom" style="margin-bottom: 0px;">{{annonce.title}}</h5>
                        <p class="card-text">{{annonce.descShort | slice:0:100}}...</p>
                        <div class="text-muted">{{annonce.dateCreated | date:'d MMM yyyy, HH:mm'}}</div>

                    </div>
                </div>

                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </a>
        <div class="mx-auto">
            <ngb-pagination style="display: flex; justify-content: center;" [maxSize]="10" [rotate]="true"[collectionSize]="countAnnonces" [(page)]="page" aria-label="Default pagination"
                (pageChange)="pageChanged()"></ngb-pagination>
        </div>
    </ng-container>
</div>