/* You can add global styles to this file, and also import other style files */

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #ff6e14!important;
    border-color: #ff6e14!important;
}

.page-link {
    color: #ff6e14;
}

.page-link:hover {
    color: #ce5b13;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ff6e14;
}

.nav-link{
    color: black;
}
.nav-link:hover {
    color: #ff6e14;
}