<div style="width: 700px; margin: 15px auto;">
    <!-- <img *ngFor="let illus of annonce.illustrations" src="http://135.125.106.207:5432/api/illustration?id={{illus.id}}" class="rounded" style="margin: 15px 0;max-width: 100%" alt="..."> -->
    <img src="https://pro.largus.fr/images/images/renault-clio-top-20-classement-voiture-occasion_2.jpg" class="rounded" style="margin: 15px 0;max-width: 100%" alt="...">
    <h2 style="text-align: left;">{{annonce.title}}</h2>
    <h3 style="text-align: left; font-weight: bold;
    color: #ff6e14;
    font-size: 22px;">{{annonce.price}} €</h3>
    <div class="text-muted">{{annonce.dateCreated | date:'d MMM yyyy, HH:mm'}}</div>
    <div style="text-align:justify; margin: 10px 0">
        {{annonce.descShort}}
    </div>
    <h5>Description :</h5>
    <span style="text-align:justify">
        {{annonce.descLong}}
    </span>
</div>
