<!-- <div style="    
background: linear-gradient(180deg, rgba(255,110,20,1) 0%, rgba(255,130,53,1) 20%, rgba(255,255,255,1) 100%);
background-position: top;
background-size: auto 500px;
background-position-y: 0px;
height: 800px;
background-repeat: no-repeat;
padding-top: 15px;"> -->
<div class="header__bg"></div>
<div style=" 
position: relative;
  overflow: hidden;
padding-top: 15px;">
    
    <div class="home_custom">
        <div style="margin: 20px 0">
            <h4>
                Avec la livraison chez vous ou en point relais tout est à portée de main !
            </h4>
            <h5>
                Trouvez la bonne affaire parmi les millions de petites annonces lecoincoin
            </h5>
        </div>
        <app-recherche></app-recherche>
        
        <br>
        
    </div>

</div>