.custom_card{
    color: black;
    text-align: left;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
}

.custom_recherche:focus{
        border-color: #ff6e14;
        box-shadow: 0 0 0 0.2rem #ff6e145e;
}