<main class="container">
  <!-- <nav><a routerLink="/add">
      <button mat-flat-button class="ajouterBtn" color="accent">
        Ajouter un devoir
      </button>
    </a></nav> -->
  <div class="assignment_container" cdkDropListGroup>
    <mat-card class="assignment_flex">
      <mat-card-header>
        <mat-card-title>Tous les devoirs non rendus</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <cdk-virtual-scroll-viewport #scrollerNonRendu itemSize="96" id="infinite-scroll2" class="infinite_scroll">
          <mat-list cdkDropList [cdkDropListData]="assignmentsNonRendu">
            <a class="list_nonrendu" *ngFor="let assignment of assignmentsNonRendu" cdkDrag
              routerLink="/assignment/{{assignment._id}}">
              <!-- <div *cdkDragPreview>
              <h2>{{assignment.name}}</h2>
              <h4>{{assignment.name}}</h4>
            </div> -->
              <mat-list-item>
                <mat-icon mat-list-icon color="error">error</mat-icon>
                <div mat-line>{{assignment.name}}</div>
                <div mat-line>Date de rendu : {{assignment.dateDeRendu | date}} </div>
                <img src='{{subjectsService.uriImg}}?id={{assignment.subject._id}}' height="40px" width="40px" />
                <mat-divider></mat-divider>
              </mat-list-item>
            </a>
          </mat-list>
        </cdk-virtual-scroll-viewport>
      </mat-card-content>
    </mat-card>
    <mat-card class="assignment_flex">
      <mat-card-header>
        <mat-card-title>Tous les devoirs rendus</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <cdk-virtual-scroll-viewport #scroller itemSize="10" class="viewport" id="infinite-scroll"
          class="infinite_scroll">
          <mat-list cdkDropList [cdkDropListData]="assignmentsRendu" (cdkDropListDropped)="drop($event)">
            <a class="list_nonrendu" *ngFor="let assignment of assignmentsRendu" cdkDrag
              routerLink="/assignment/{{assignment._id}}">
              <mat-list-item>
                <mat-icon mat-list-icon style="color: lightgreen;">check_circle</mat-icon>
                <div mat-line>{{assignment.name}} - note : {{assignment.note}}/20</div>
                <div mat-line> Date de rendu : {{assignment.dateDeRendu | date}} </div>
                <img src='{{subjectsService.uriImg}}?id={{assignment.subject._id}}' height="40px" width="40px" />
                <mat-divider></mat-divider>
              </mat-list-item>
            </a>
          </mat-list>
        </cdk-virtual-scroll-viewport>
      </mat-card-content>
    </mat-card>
  </div>
</main>