<!-- <form ngForm class="form" #assignmentForm>

  <mat-form-field>
    <input matInput placeholder="Nom de l'élève" [(ngModel)]="eleveAssignment" name="auteur">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Nom du devoir" [(ngModel)]="nomAssignment" name="nom">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Matière</mat-label>
    <mat-select [(ngModel)]="matiereAssignment" name="matiere">
      <mat-option value="bd">Base de données</mat-option>
      <mat-option value="technoWeb">Technologies Web</mat-option>
      <mat-option value="grails">Grails</mat-option>
      <mat-option value="angular">Angular</mat-option>
      <mat-option value="ios">iOS</mat-option>
      <mat-option value="comm">Communication</mat-option>
      <mat-option value="spring">Spring</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Date de rendu" [(ngModel)]="dateRendu" name="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Note sur 20" [(ngModel)]="noteAssignment" name="note">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Remarque" [(ngModel)]="remarqueAssignment" name="remarque">
  </mat-form-field>

  <div>
    <mat-radio-group [(ngModel)]="renduAssignment" name="rendu">
      <mat-radio-button value="true" [disabled]="noteAssignment==''" [checked]="noteAssignment!=''">Rendu
      </mat-radio-button>
      <mat-radio-button value="false">Non-rendu</mat-radio-button>
    </mat-radio-group>
  </div>

  <button mat-stroked-button (click)="onSubmit($event)">
    Ajouter assignment
  </button>
</form> -->







<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Tous les champs sont requis.">
    <form>
      <ng-template matStepLabel>Nom de l'élève et du devoir</ng-template>

      <mat-form-field style="margin: 0 10px">
        <input matInput placeholder="Nom du devoir" [(ngModel)]="nomAssignment" name="nom">
      </mat-form-field>

      <mat-form-field style="margin: 0 10px">
        <mat-label>Eleve</mat-label>
        <mat-select [(ngModel)]="eleveAssignment" name="auteur">
          <mat-option *ngFor="let student of assignmentService.students" value="{{student._id}}"><img style="margin-right: 10px;" src='{{subjectsService.uriImg}}?id={{student._id}}' height="20px" width="20px" />{{student.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Tous les champs sont requis.">
    <form>
      <ng-template matStepLabel>Matière et date de rendu</ng-template>

      <mat-form-field style="margin: 0 10px">
        <mat-label>Matière</mat-label>
        <mat-select [(ngModel)]="matiereAssignment" name="matiere">
          <mat-option *ngFor="let subject of subjectsService.subjects" value="{{subject._id}}"><img style="margin-right: 10px;" src='{{subjectsService.uriImg}}?id={{subject._id}}' height="20px" width="20px" />{{subject.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="margin: 0 10px">
        <input matInput [matDatepicker]="picker" placeholder="Date de rendu" [(ngModel)]="dateRendu" name="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" errorMessage="Tous les champs sont requis.">
    <form>
      <ng-template matStepLabel>Rendu du devoir</ng-template>

      <mat-form-field style="margin: 0 10px">
        <input matInput placeholder="Note sur 20" [(ngModel)]="noteAssignment" (change)="checkRendu()" name="note">
      </mat-form-field>

      <mat-form-field style="margin: 0 10px">
        <input matInput placeholder="Remarque" [(ngModel)]="remarqueAssignment" (change)="checkRendu()" name="remarque">
      </mat-form-field>

      <div>
        <mat-checkbox name="renduAssignment" [(ngModel)]="renduAssignment" (change)="uncheckRendu()">Rendu</mat-checkbox>
      </div>
      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Enregistrer</ng-template>
    <p>Enregistrer ce devoir.</p>
    <div>
      <button mat-button matStepperPrevious>Précédent</button>
      <button mat-button (click)="saveAssignment($event)">Envoyer</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>